$columns: 12;

$break-small: 320px;
$break-medium: 768px;
$break-large: 1024px;
$break-extra: 1280px;

$font: 'Open Sans', sans-serif;
$font-size__base : 1.125;
$font-size__num-shift : 5;

$colors: (
  'w': #fff,
  'b': #000,
  'secondary': #2B2B2B,
  'primary': #2f3438,
  'accent': #319988,
  'alert': #319988
);

$attributes: (
    m: 'margin', 
    p: 'padding', 
    b: 'border'
);

$directions: (
    t: 'top', 
    b: 'bottom', 
    l: 'left', 
    r: 'right', 
    a: 'all'
);

$base-sizes: ( 
    s: 1.5vw, 
    m: .7vw, 
    l: 2px, 
    x: 2px
);

$minvalue: 0;
$maxvalue: 20;
