.list {
    @extend .bg-col-w;
    width: 100%;

    &-item {
        @extend .p-t-6;
        @extend .p-b-6;
        @extend .fs-3;
        @extend .b-t-1;
        width: 100%;
        max-height: 250px;
        overflow-y: scroll;

        &:hover {
            @extend .bg-col-grey-20;
            cursor: pointer;
        }
    }
}